<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>紫羽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.5, user-scalable=0">

    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/p_zone/index.css">

</head>
<body>
    <!--背景点线脚本 开始-->
    <script color="0,255,0" opacity="0.7" count="124" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
    <!--背景点线脚本 结束-->

    <!--左边内容 开始-->
    <div class="left">
        <!--左边中间位置调整 开始-->
        <div class="m_content">
            <div class="head_portrait ">
                <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="100" height="100">
            </div>
            <h1 style="color: #49ed02;text-align: center;">紫羽</h1>
            <p style="text-align:center;color: #49ed02; font-size: 0.9em">
                守护自己的信仰,奋斗出自己的天地。
                <br>
                <i>QQ705301804</i>
            </p>
            <ul style="color: #49ed02; margin: 20px" class="m_content_menu">
                <li><a href="/">紫羽网站--私人空间</a></li>
                <li>
                    <a href="../xinyue/index.html">
                    ❤❤❤<br>
                    ❤❤<br>
                    ❤
                    </a>
                </li>
                <li><a href="index.html">照片</a></li>
                <li>点滴</li>
                <li>日记</li>
                <li>音乐</li>
                <li>投稿</li>
                <li><a>归档</a></li>
            </ul>
            <p>©&nbsp;<a href="http://52ziyu.cn/" style="color: skyblue;">羽</a>&nbsp;|&nbsp;Powered by <a href="http://52ziyu.cn/"  style="color: skyblue;">YuKalix</a></p>
            <!--点滴记录随机展示 开始-->
            <h5 style="word-break:break-all; color: #49ed02;">点滴记录：点滴记录分享地点。</h5>
            <!--点滴记录随机展示 结束-->
        </div>


        <!--左边中间位置调整 结束-->
    </div>
    <!--左边内容 结束-->

    <div class="right">
        <!--右分区头部 开始-->
        <div class="r_top">
            <div class="scroll">
                <marquee behavior="alternate" direction="left"> <p style="color: green;">Make a little progress Eyery day .</p></marquee>
                <div>
                    <a style="color: white;">建站/仿站QQ：705301804</a>
                </div>
                <marquee behavior="alternate" direction="right"> <p style="color: red;">Guard their beliefs, struggle their own heaven and earth.</p></marquee>
            </div>
        </div>
        <!--右分区头部结束-->

        <!--右分区内容 开始-->
        <div class="r_content">
            <div class="pic">
                <a href="photo_detail.html"><img src="../../images/p_zone/1.jpg" alt="" width="300" height="500"></a>
            </div>

            <div class="info">
                <p style="margin-left: 50px;">author：kalix</p>
                <ul>
                    <li style="margin-left: 50px;">from：zone</li>
                    <li style="width:150px;margin-left: 65px;  padding-left:15px; border-left: red solid 1px;  word-break:break-all;">
                        introduce：
                        <p style="color: #49ed02;">这是个大美女。</p>
                    </li>
                </ul>

                <div class="info info_box">
                    <img src="../../images/p_zone/icon/time.png" style="margin: 20px 0 0 35px;">&nbsp;&nbsp;&nbsp;&nbsp;2018/11/04
                </div>
                <h2><a href="photo_detail.html">详情</a></h2>

            </div>
        </div>
        <!--右分区内容 结束-->
    </div>




</body>
</html>