<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>紫羽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.5, user-scalable=0">

    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/p_zone/index.css">
    <link rel="stylesheet" href="../../css/p_zone/photo_detail.css">

</head>
<body>
    <!--背景点线脚本 开始-->
    <script color="0,255,0" opacity="0.7" count="124" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>
    <!--背景点线脚本 结束-->


    <div class="left">

        <div class="m_content">

            <div class="head_portrait ">
                <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="100" height="100">
            </div>
            <h1 style="color: #49ed02;text-align: center;">紫羽</h1>
            <p style="text-align:center;color: #49ed02; font-size: 0.9em">
                守护自己的信仰,奋斗出自己的天地。
                <br>
                <i>QQ705301804</i>
            </p>
            <ul style="color: #49ed02; margin: 20px" class="m_content_menu">
                <li><a href="/">紫羽网站--私人空间</a></li>
                <li>
                    <a href="../xinyue/index.html">
                    ❤❤❤<br>
                    ❤❤<br>
                    ❤
                    </a>
                </li>

                <li><a href="index.html">照片</a></li>
                <li>点滴</li>
                <li>日记</li>
                <li>音乐</li>
                <li>投稿</li>
                <li><a>归档</a></li>
            </ul>
            <p>©&nbsp;<a href="http://52ziyu.cn/" style="color: skyblue;">羽</a>&nbsp;|&nbsp;Powered by <a href="http://52ziyu.cn/"  style="color: skyblue;">YuKalix</a></p>

        </div>

    </div>


    <div class="right">
        <!--右边主题内容 开始-->
        <div class="right_content">
            <!--用户头像 开始-->
            <div class="picture">
                <img src="../../images/p_zone/1.jpg" alt="">

            </div>
            <!--用户头像 结束-->

            <!--用户信息 开始-->
            <div class="info">
                <p style="margin-left: 50px;">kalix: <span style="margin-left: 150px">来源：</span></p>
                <p style="margin-left: 20px;">时间：2018/11/01 <span  style="margin-left: 100px;">热度:600</span></p>
                <p style="margin-left: 20px;">标签：<span>#美女</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>#丑</span></p>
                <p style="margin-left: 20px;">描述：<span style="color: #0aff0a">丑八怪爱依依爱依依</span></p>
            </div>
            <!--用户信息 结束-->


            <!--弹幕 开始-->
            <div class="barrage">
                <marquee behavior="scroll" direction="left"> <p style="color: red;">哇，小姐姐好漂亮呢。</p></marquee>
                <marquee behavior="slide " direction="left"> <p style="color: green;">Make a little progress Eyery day .</p></marquee>
            </div>
            <!--弹幕 结束-->


            <!--评论 开始-->

            <!--评论 结束-->
            <h2 style="padding: 5px 0 5px 5px">畅所欲言：<button onclick="comment()">评论</button></h2><hr>
            <div class="comment hide" id="comment" >

                <form action="" method="get">
                    <input type="text" id="tx">
                    <input type="submit" value="提交" style="width: 100px;height: 30px">
                </form>
                <hr>
            </div>
            <!--评论部分 开始-->
            <div class="comment_content info">

                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>
                <div class="user_comment">
                    <img src="http://imgsize.ph.126.net/?imgurl=http://img2.ph.126.net/Wztq_9hgJ4AJEA2B_TTHtQ==/6632383881120099590.jpg_110x110x0x90.jpg" alt="" width="30" height="30" style="float:left;border-radius: 50%;">
                    <p >kalix:</p>
                    <div class="detail">
                        这女生好漂亮。ddddddddddddddddddddd
                    </div>
                </div>


            </div>
            <!--评论部分 结束-->
        </div>
        <!--右边主题内容 结束-->
    </div>


    <div class="tools">
        <ul>
            <li>分享</li>
            <li>关注</li>
            <li>注册</li>
        </ul>
    </div>



<script>
    function comment() {
        var cm = document.getElementById("comment");
        cm.classList.remove("hide");
    }
    console.log('dsad');
</script>
</body>
</html>