<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>众筹</title>

    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/crowd_funding/index.css">
</head>
<body>
    <div class="top">
        <div class="logo">
            <img src="../../images/crowd_finding/zcLogo.png" alt="">
        </div>

        <div class="menu">
            <ul class="menu_l">
                <li>首页</li>
                <li>项目总览</li>
                <li>发现</li>
                <li>众创服务</li>
            </ul>

            <ul class="s_menu">
                <li>科技</li>
                <li>设计</li>
                <li>文化</li>
                <li>农业</li>
            </ul>
        </div>

        <div class="menu_r">
            <ul>

                <li>
                   <!--<img src="../../images/crowd_finding/default-tx.png" alt="" style="margin: 10px">-->
                    我的众筹
                </li>
                <li>发起项目</li>
            </ul>
        </div>

    </div>


</body>
</html>